.heart {
  position: fixed;
  top: -50px;
  animation-name: fall;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  pointer-events: none;
  z-index: 999;
  /* Optional style */
  user-select: none;
}

@keyframes fall {
  to {
    transform: translateY(100vh) rotate(360deg);
    opacity: 0;
  }
}
